<div class="container my-3">     
    <div class="text-center">
        <img width="550" height="200" src="~/img/BakeryHead.png"/>   
    </div> 
    <div class="mapouter my-3">
        <div class="gmap_canvas">
            <iframe class="gmap_iframe" 
                frameborder="0" 
                scrolling="no" 
                marginheight="0" 
                marginwidth="0" 
                src="https://maps.google.com/maps?width=600&amp;
                height=400&amp;hl=en&amp;q=2880 Broadway, New York&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
            </iframe>
            <a href="https://embedmapgenerator.com/">embed google maps in website</a>
        </div>
        <style>
            .mapouter{position:relative;text-align:right;width:1300px;height:500px;}
            .gmap_canvas {overflow:hidden;background:none!important;width:1300px;height:500px;}
            .gmap_iframe {width:1300px!important;height:500px!important;}
        </style>
    </div>

    <div class="contacts">        
        <h1>Главный офис находиться на улице: 2880 Broadway, New York</h1>  
        <div class="contacts-phone">
            <p class="contacts-phone-head">Номера телефонов:<p>            
            <p>
                Директор: <a href="tel:123456789">123-456-67-89</a>               
            </p>      
            <p>               
                Главный менеджер: <a href="tel:123456789">123-456-67-89</a>
            </p>   
        </div>     
        <div class="text-center">           
            <a href="https://ru-ru.facebook.com/bakerstreetbakery/">
                <img width="50" height="50" src="~/img/facebook-icon.png"/>
            </a>
            <a href="https://www.instagram.com/bakery_ck/">
                <img width="50" height="50" src="~/img/inst-icon.png"/>
            </a>           
        </div>
    </div>   

</div>