@{
    ViewData["Title"] = "Home Page";
}


<div class="main-top">
    <div class="container my-3">
        <div class="text-center">
            <img width="550" height="200" src="~/img/BakeryHead.png"/>   
        </div>   
        <h1 class="home-header-text">
            Мы работает со дня падения Римской Империи!<br />
            За это время мы успели открыть больше миллиарда пекарень по всему миру.<br />
            Дальше идёт такого-же рода текст....
        </h1>
        <div id="carouselExampleControls" class="carousel slide my-5" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="~/img/Bakery/first.jpg" class="d-block w-100" height="700" alt="first">
            </div>
            <div class="carousel-item">
              <img src="~/img/Bakery/second.jpg" class="d-block w-100" height="700" alt="second">
            </div>
            <div class="carousel-item">
              <img src="~/img/Bakery/third.jpeg" class="d-block w-100" height="700" alt="third">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div>
</div>
<div class="main-center">
    <div class="container my-3">
        <div class="main-center-text text-center">
            <p>Больше 200 видов выпечки!</p>
        </div>   
        <div class="row row-cols-3">   
            <div class="col">          
                <div class="card ">   
                    <a asp-controller="Product" asp-action="GetAllProducts">
                    <img class="main-center-img w-100" src="~/img/Bakery/хлеб.jpg" alt="Хлеб"/>  
                    </a>
                </div>
            </div>
            <div class="col">     
                <div class="card">           
                    <img class="main-center-img w-100" src="~/img/Bakery/начинка.jpg" alt="Начинка"/>            
                </div>
            </div>
            <div class="col">     
                <div class="card">            
                    <img class="main-center-img w-100" src="~/img/Bakery/сладкое.jpg" alt="Сладкое"/>
                </div>
            </div>
        </div>
    </div>
</divc>