*,
*::after
*::before{
    box-sizing: border-box;
}

.nav-font{
    font-size: 28px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;   
}

.home-header-text{
    font-size: 51px;
    font-family: 'Roboto Slab', serif;
    text-align: justify;
    font-weight: 400;
    color: #262C27;

    margin-top: 55px;
}

.contacts{
    font-size: 22px;
    font-family: 'Roboto Slab', serif;
    text-align: justify;
    font-weight: 400;
    color: #262C27;
}

.contacts-phone-head{
    font-size: 32px;   
}

.main-center{
    background-color: #262C27;
    height: 760px;
}
.main-center-text{
    font-size: 54px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color: #ffa25d;   
    padding-top: 25px;
}
.main-center-img{
    height: 500px;
    width: 400px;
    border: #262C27;
    border-radius: 15px;   
}
.main-center-img:hover{
    filter: brightness(30%);
}

.main-center-btn{
    font-size: 34px;   
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    border-radius: 15px;
    background-color: #ffa25d;   
}