*,
*::after
*::before{
    box-sizing: border-box;
}

.nav-font{
    font-size: 28px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;   
}

.home-header-text{
    font-size: 51px;
    font-family: 'Roboto Slab', serif;
    text-align: justify;
    font-weight: 400;
    color: #262C27;

    margin-top: 55px;
}

.contacts{
    font-size: 22px;
    font-family: 'Roboto Slab', serif;
    text-align: justify;
    font-weight: 400;
    color: #262C27;
}

.contacts-phone-head{
    font-size: 32px;   
}

.contacts-social{
    width: 50;
    height: 50;
}
