@model Market.Domain.ViewModels.RegisterViewModel


@{
    ViewData["Title"] = "CreateProduct";
    Layout = "_Layout";
}


<form asp-controller="Account" asp-action="Register" method="post">
    <div class="position-absolute top-50 start-50 translate-middle mb-3">
        <h1 class="text-white mb-3 text-center">Регистрация</h1>
        <div class="input-group mb-3">
            <input asp-for="@Model.Name" type="text" class="form-control" placeholder="Имя" aria-label="Name">       
        </div>    
        <div class="input-group mb-3">
            <input asp-for="@Model.Password" type="text" class="form-control" placeholder="Пароль" aria-label="Password">       
        </div>    
        <div class="input-group mb-3">
            <input asp-for="@Model.ConfirmPassword" type="text" class="form-control" placeholder="Подтвердите пароль" aria-label="ConfirmPassword">       
        </div>  
        <button class="btn btn-success mb-5 w-100" type="submit">Подтвердить</button>
    </div>
</form>