@model Market.Domain.Entity.Product

      
<form>
    <div class="row">
        <div class="col-md-12">
            <img class="w-75 text-center" height="140" src="data:image/jpeg;base64,@(Convert.ToBase64String(@Model.Image))" class="img-fluid rounded-start" alt="Hleb">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
           <label class="col-form-label">Название</label>
           <input type="text" class="form-control" asp-for="@Model.Caption"/>
        </div>
    </div>
</form>